@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-polygon {
  aspect-ratio: 1;
  clip-path: polygon(
    92.49% 76.35%,
    48.43% 99.98%,
    5.93% 73.63%,
    7.51% 23.65%,
    51.57% 0.02%,
    94.07% 26.37%
  );
}

/* Define scrollbar track */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Define scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #dddddd; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

/* Define scrollbar track when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #888686; /* Color of the scrollbar thumb when hovered */
}

